# VITE_API_BASE_URL=
VITE_API_BASE_URL=http://localhost:3000
VITE_RECAPTCHA_ENABLED=false
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key
BASIC_AUTH_USER=your_basic_auth_user
BASIC_AUTH_PASSWORD=your_basic_auth_password
BASIC_AUTH_USER=好きなID
BASIC_AUTH_PASSWORD=好きなパスワード